.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.input-row {
    height: 50px;
    display: grid;
    grid-template-columns: 90% 8%;
    grid-template-rows: 1fr;
    background-image: url(common/images/precision/background.png);
    background-size: 100%;
    background-position: 0 -50;
    position: fixed;
}

.input-item {
    width: 100%;
}

.search-item {
    border-radius: 25px;
    margin: 4px 2% 4px 4%;
    border: 1px solid #ff1250;
}

.search {
    width: 80%;
    height: 40px;
}

.button {
    width: 64px;
    height: 35px;
    background-color: #ff1250;
    font-size: 14fp;
    margin-top: 1px;
    margin-right: -8px;
}

.search,.search-item {
    background-color: #F1F3F5;
}

.list {
    width: 95%;
    margin-left: 2.5%;
    divider-color: #ccc;
    divider-height: 1px;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 5px 0;
}

.left {
    flex: 1;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
}

.right {
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height:  100px;
    margin-left: 10px;
    font-size: 14px;
}
.title {
    font-size: 16px;
    max-lines: 3;
    text-overflow: ellipsis;
}
.context {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #ff1250;
}

.empty-list {
    margin-top: 20fp;
    font-size: 20fp;
    color: gray;
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
}