.first {
    width: 100%;
    height: 100%;
}

.bottomview {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 690px;
    left: 0px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.content {
    width: 22%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-view {
    margin-top: 8%;
    margin-bottom: 5%;
    width: 30%;
    height: 40%;
}

.tab-image {
    object-fit: contain;
}

.text {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.a {
    font-size: 12px;
    font-weight: 600;
}

.b {
    font-size: 12px;
}